@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@layer base {
	body {
		@apply font-body bg-black scrollbar-hide;
	}
}

@layer components {
	.sidebarIcon {
		/* @apply for use tailwind inside css files */
		@apply h-6 text-[#808080] cursor-pointer;
	}

	.tag {
		@apply py-1.5 px-3 text-[#cecece] rounded-xl bg-[#282828]
    text-xs font-bold border-2 border-[#484848] hover:bg-gray-700;
	}

	.btn {
		@apply text-[#CECECE] bg-[#1A1A1A] text-[13px] py-3.5 px-4 
    rounded-2xl w-full font-bold bg-opacity-80 hover:bg-opacity-100 
    transition ease-out;
	}

	.icon{
		@apply hover:scale-125 transition-all duration-150 ease-out
	}
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.21);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
}